<?php
return [
    'vk_token' => 'PASTE_VK_GROUP_TOKEN_HERE',
    'owner_ids' => [123456789],
    'mysql' => [
        'host' => 'localhost',
        'port' => 3306,
        'database' => 'YOUR_DATABASE',
        'username' => 'YOUR_USERNAME',
        'password' => 'YOUR_PASSWORD',
        'charset' => 'utf8mb4',
    ],
    'prefixes' => ['!', '/', ''],
    'timezone' => 'Europe/Moscow',
];
